<h2>Login</h2>

<form>
    <label>email:</label>
    <label>password:</label>
    <button>Login</button>
</form>

<h2>Register</h2>
<h3>Join our Watch Party!</h3>

<form>
    <label>Name:</label>
    <label>email:</label>
    <label>password:</label>
    <label>confirm password:</label>
    <button>Register</button>
</form>


<script src="./js/login.js"></script>